@model CTCMvc.Models.CourseViewModel
@{
    ViewData["Title"] = "Course List";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="row">
    <div class="column">
        <div class="row">
            <p>Current Courses</p>
            <ul>
                @foreach (var c in Model.CurrentCourses)
                {
                    <li>@c.Course.CourseName</li>
                }
            </ul>
        </div>
        <div class="row">
            <p>Recommended Courses</p>
            <ul>
                @foreach (var r in Model.CourseRecs)
                {
                    <li>@r.Course.CourseName</li>
                }
            </ul>
        </div>
        <div class="row">
            <p>Course Wish List</p>
            <ul>
                @foreach (var w in Model.CourseWishLists)
                {
                    <li>@w.Course.CourseName</li>
                }
            </ul>
        </div>
    </div>
    <div class="column-right">
        <table class="table">
            <tr>
                <th>Course Name</th>
                <th>Subject</th>
                <th>Requirements</th>
                <th>Description</th>
            </tr>
            @foreach (var course in @Model.Courses)
            {
                <tr>
                    <td>
                        <a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.CourseID">
                        @course.CourseName</a>
                    </td>
                    <td>
                        @course.CourseSubject
                    </td>
                    <td>
                        @course.Prerequisite
                    </td>
                    <td>
                        @course.Description
                    </td>
                </tr>
            }
        </table>
    </div>
</div>