@model ClubTeamCourse.ClubList
@{
    ViewData["Title"] = "Club Detail - " + Model.ClubName; 
}
<h2>Club Detail</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Club Name</dt>
        <dd>@Model.ClubName</dd>
        @if (@Model.MeetingDay != null){
            <dt>Meeting Day</dt>
            <dd>@Model.MeetingDay</dd>
        }
        <dt>Remote Link</dt>
        <dd>@Model.RemoteLink</dd>
        <dt>Meeting Time</dt>
        <dd>@Model.MeetingTime</dd>
        <dt>Advisor</dt>
        <dd>@Model.Advisor</dd>
        <dt>Advisor Email</dt>
        <dd>@Model.AdvisorEmail</dd>
        <dt>President First Name</dt>
        <dd>@Model.PresidentFirst</dd>
        <dt>President Last Name</dt>
        <dd>@Model.PresidentLast</dd>
        <dt>President Email</dt>
        <dd>@Model.PresidentEmail</dd>
        <dt>Vice President First Name</dt>
        <dd>@Model.VPresFirst</dd>
        <dt>Vice President Last Name</dt>
        <dd>@Model.VPresLast</dd>
        <dt>Vice President Email</dt>
        <dd>@Model.VPEmail</dd>
        <dt>Secretary First Name</dt>
        <dd>@Model.SecFirst</dd>
        <dt>Secretary Last Name</dt>
        <dd>@Model.SecLast</dd>
        <dt>Secretary Email</dt>
        <dd>@Model.SecEmail</dd>
    </dl>
</div>