@model CTCMvc.Models.TeamViewModel
@{
    ViewData["Title"] = "Team List";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="row">
    <div class="column">
        <div class="row">
            <p>Current Teams</p>
            <ul>
                @foreach (var c in Model.CurrentTeams)
                {
                    <li>@c.Team.TeamName</li>
                }
            </ul>
        </div>
        <div class="row">
            <p>Team Wish List</p>
            <ul>
                @foreach (var w in Model.TeamWishLists)
                {
                    <li>@w.Team.TeamName</li>
                }
            </ul>
        </div>
    </div>
    <div class="column-right">
        <table class="table">
            <tr>
                <th>Team Name</th>
                <th>Season</th>
                <th>Gender</th>
                <th>Coach</th>
            </tr>
            @foreach (var Team in @Model.Teams)
            {
                <tr>
                    <td>
                        <a asp-controller="Team" asp-action="TeamDetail" asp-route-id="@Team.TeamID">
                        @Team.TeamName</a>
                    </td>
                    <td>
                        @Team.Season
                    </td>
                    <td>
                        @Team.Gender
                    </td>
                    <td>
                        @Team.Coach
                    </td>
                </tr>
            }
        </table>
    </div>
</div>